
.form-control{
    border-radius: 8px !important;
    background-color: whitesmoke !important;
}

.offset-md-3{
    margin-top:15% !important;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.full-width{
    width: 100%;
    border-radius: 8px;
    display: block;
}

.mt-md-5, .my-md-5 {
    margin-top: 7rem!important;
}

.row{
    display: flex;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.cardWidth{
    max-width: 270px;
}

.card{
    width: 100%;
    margin: 10px;
}

.my-auto {
    margin-top: auto;
margin-bottom: auto;
}