.offset-md-4{
    margin-top: 15% !important;
}

.small, small {
    font-size: 50% !important;
}

@media screen and (max-width: 767px) {
    .card-header .form-control {
        margin-top: 1rem;
    }
}